.banner {

  


  /* 1. Set a background image */
  background-image:
    /* Transparent gradient above */
    linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%),
    /* Then image below */
    url('../../images/background.png');
  /* 2. Make the background image cover the banner div */
  background-size: cover;     
  /* 3. Center the image */
  background-position: center;

  height: 35em;
}


.banner h1 {
  padding-top: 1em;
  color: white;
  font-size: 50px;
}
.banner h2 {
  background-color: rgba(0,0,0,0.8);
  margin-top: 3em;
  margin-bottom: 5em;
  color: white;
  font-size: 30px;
  font-weight: lighter;
  opacity: 0.8;
}