.btn-blue {
  text-align: center;
  position: relative;
  background-color: #282828;
  color: white;
  display: inline-block;
  width: auto;
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 1em;
}
